
	<div class="col-md-12 col-centered">
		<button type="button" class="btn btn-primary btn-sm" ng-click="prev();window.scroll(0,0);">
			<span class="glyphicon glyphicon-chevron-left" /></span>
		</button>
		<button type="button" class="btn btn-primary btn-sm" ng-click="init();window.scroll(0,0);">Inicio
			<span class="glyphicon glyphicon-repeat" /></span>
		</button>
		<button type="button" class="btn btn-primary btn-sm" ng-click="toggleMenu()">Mangas
			<span class="glyphicon glyphicon-th-list" /></span>
		</button>
		<button type="button" class="btn btn-primary btn-sm" ng-click="next();window.scroll(0,0);">
			<span class="glyphicon glyphicon-chevron-right" /></span>
		</button>
	</div>