.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
	margin-top: 10px;
	margin-bottom: 10px;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;*/

}

h3 {
	color: #FFF;
}

html {
	background-color: #333
}
.manga-list div {
    /*background-color: gray;*/
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
	font-weight: bold;
}
.manga-list .head, .manga-list .content, .manga-list .footer {
    width: 240px;
    padding: 5px;
    border: 2px solid;
}
.manga-list .head {
    cursor: pointer;
    background-color: #a5fb88;
    border-bottom: none;
}
.manga-list .content {
    border-top: none;
    border-bottom: none;
}
.manga-list .footer {
    background-color: #428bca;
    border-top: none;
	margin-top: 0px;
}

.manga-list .list-group-text {
	font-size: 15px;
	font-weight: normal;
}



a.list-group-item {
	margin-bottom: 1px;
}

body{width:100%}

#menuleft{left:-250px;position:fixed;top:0;width:250px;height:100%;z-index:1000;border-right:1px solid #000;background-color:#e9e9e9;display:block}
#menuleft.slide{left:0}
#menuleft h1{background-color:#424242;color:#eee;font-size:1.2em;line-height:50px;text-align:center;float:none !important}
#menuleft a{display:block;width:98%;padding:10px 0 10px 2%;}
#all{display:block;width:100%;background-color:#333}
#all.hideo{position:fixed;left:0%;top:0;width:100%; }
#all.slide{position:relative; background-color:#333}
.slide,.hideo{transition: all 0.3s ease;}

.overlay{left:0;top:50px;transition: all 0.3s ease;}
.overlay.show{position:fixed;left:250px;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.8);z-index:9999}

#wrapper{float:left;clear:both;width:100%; background-color:#333}


.reader-container {
	background-color:#333
}