<div class="col-md-3 col-md-offset-1 manga-list">
	
	<div class="list-group">
		<div ng-repeat="manga in mangaList">
			<a href="#" ng-click="showChapters = !showChapters" class="list-group-item list-group-item-info">{{manga.title}}</a>
			<div ng-slide-down="showChapters" duration="0.4">
				<div ng-repeat="chapter in manga.chapters">
					<a href="/manga/{{manga.alias}}/{{chapter.chapterNumber}}/0" class="list-group-item list-group-text">Chapter:{{chapter.chapterNumber}}. Pages:{{chapter.pages}}.</a>
				</div>
			</div>
		</div>
	</div>
</div>